* {
    font-family: Garamond, Georgia, serif;
}

.main-heading   {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

.menu-entry {
    background-color: aliceblue;
    border: 1px solid burlywood;
    padding: 5px;
    margin-bottom: 10px;
}

.menu-entry a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}