* {
    font-family: Garamond, Georgia, serif;
}

.main-heading   {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

.recipe-list {
    padding: 10px;
    background-color: lightblue;
    border-radius: 10px;
}

.menu-entry {
    background-color: aliceblue;
    border: 1px solid burlywood;
    padding: 5px;
    margin: 10px auto;
    width: 400px;
}

.menu-entry a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.secondary-heading {
    text-transform: uppercase;
    padding: 20px;
}

.desc-text {
    font-style: italic;
    font-size: 20px;
    padding: 10px;
    text-align: justify;
}

.recipe-main-img {
    border: 1px solid black;
    border-radius: 25px;
    height: 300px;
    width: auto;
    display: block;
    margin: auto;
}

.ingredient-list {
    list-style-type: circle;
    font-size: 18px;
}

.cooking-steps {
    font-size: 22px;
    list-style: decimal-leading-zero;
    color: black;
    padding-left: 60px;
    background-color: brown;
    padding-top: 10px;
    padding-bottom: 10px;
    color: beige;
}